.root {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    margin-bottom: 2px;
}

.root input[type=checkbox] {
    visibility: hidden;
}

.mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #000;
    border-radius: 2px;
}

.root input:checked~.mark {
    background-color: #4A7AAA;
}

.mark:after {
    content: "";
    position: absolute;
    display: none;
}

.root input:checked~.mark:after {
    display: block;
}

.root .mark:after {
    left: 7px;
    bottom: 4px;
    width: 3px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}