.root {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.root input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    outline: 1px solid #000;
    border-radius: 50%;
}

.root input:checked~.mark {
    background-color: #FFF;
}

.mark:after {
    content: "";
    position: absolute;
    display: none;
}

.root input:checked~.mark:after {
    display: block;
}

.root .mark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4A7AAA;
}